# aliases.rc
OS_NAME=$(uname -s)

alias ls="ls -lh --color=auto"
alias ll="ls -lah --color=auto"

alias gotonotes="cd ~/Developer/docs.unorthodoxdev.net/ && nvim ."
alias note="nvim ~/Developer/docs.unorthodoxdev.net/"
alias notes="nvim ~/Developer/docs.unorthodoxdev.net/"
alias reset_docker="docker stop $(docker ps -q) && docker rm $(docker ps -a -q) && docker volume rm $(docker volume ls -q) && docker network prune -f && docker image prune -a -f"

# Networking
alias wanip="curl ifconfig.me"
if [[ "$(uname -s)" == "Linux" ]]; then
  # Linux version using 'ip addr'
  lanip() {
    ip addr | awk '/^[0-9]+:/ {iface=substr($2, 1, length($2)-1)} /link\/ether/ {mac=$2} /inet / {split($2, a, "/"); ip=a[1]; print "Interface:", iface, "\nMAC:", mac, "\nIP:", ip}'
  }
elif [[ "$(uname -s)" == "Darwin" ]]; then
  # macOS version using 'ifconfig'
  lanip() {
    ifconfig | awk '/^[a-z]/ { iface=$1 } /ether/ { mac=$2 } /inet / { ip=$2; if (mac) print "Interface:", iface, "\nMAC:", mac, "\nIP:", ip, "\n"; mac="" }'
  }
fi


# Check Applications Installed
check-system() {
  # Git
  if ! command -v git &>/dev/null; then
    echo "Error: 'git' is not installed. Please install it to proceed." >&2
  else
    echo "'git' is installed.'" >&2
  fi

  # Python
  if ! command -v python3 &>/dev/null; then
    echo "Error: 'python3' is not installed. Please install it." >&2
  else
    if [ "$(python3 --version | head -n1 | cut -d" " -f2)" -eq 3.16.3]; then
      echo "python3 is installed."
    fi
  fi
}

export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init - bash)"

